.bodywrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
}

.progress-flex {
 display:flex;
 justify-content: space-between;
 position:relative;
 margin-bottom: 20px;
 
 align-items: center;
 width:350px;
 max-width:100%;
}

.progress-container {
    text-align: center;
}

.progress-flex::before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgb(209, 209, 209);
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.progressbar {
    position: absolute;
    width: 0%;
    background-color: black;
    height: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s ease;
}


.eachprogress {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border: 3px solid rgb(209, 209, 209);;
    transition: 0.5s ease;
}
.eachprogress.active{
    border: 3px solid black;
    color:black;
    transition: 0.95s ease;

}
button{
    background-color: black;
    color:white;
    border:0;
    outline:0;
    border-radius: 5px;
    padding:8px 30px;
    font-size: 15px;
    cursor:pointer;

}
button:active{
    transform:scale(0.9);
    
}
button:disabled{
    background-color: rgb(209, 209, 209);
    cursor:not-allowed;
    transform:scale(1);
    transition:.9s ease;
}